pandas>=2.0.0\nnumpy>=1.24.0\nmatplotlib>=3.7.0\npyyaml>=6.0.0
jupyter==1.0.0
jupyter-client==8.6.0
jupyter-console==6.6.3
jupyter-core==5.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter-server==2.12.5
jupyter-server-terminals==0.5.1
jupyterlab==4.1.5
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
jupyterlab-widgets==3.0.9
jupytext==1.16.0
